<h2>Contacts</h2>

<p>
  <a [routerLink]="['/contacts/new']" class="btn btn-success">Add New</a>
</p>

<ngb-alert *ngIf="alert" [type]="alert.type" [dismissible]="alert.dismissible" (closed)="onAlertClose()">
  {{alert.message}}
</ngb-alert>

<div *ngIf="contacts.length === 0" class="alert alert-warning">No contacts have been added.</div>

<div *ngIf="contacts.length > 0" class="row row-cols-md-2 row-cols-lg-3">
  <div *ngFor="let contact of contacts" class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{contact.displayName}}</h4>
        <p class="card-text">{{contact.lastName}}, {{contact.firstName}} {{contact.middleName}}</p>
      </div>
      <div class="card-footer">
        <a [routerLink]="['/contacts', contact.contactId]" class="btn btn-info btn-block">Update</a>
      </div>
    </div>
  </div>
</div>
